@import "../../../palette.styl"

.wrapper
  position absolute
  top: 0
  left: 0
  width: 100%
  opacity 0.1
  height: 100%
  display flex
  justify-content: center
  align-items: center
  .input-dialog
    box-sizing padding-box
    display: flex
    flex-direction: column
    padding: 20px
    align-items: center
    background $primary-color-dark
    .title
      text-align: center
      margin-bottom: 20px
    .text
      border: none;
      color: $primary-color-text
      outline none
      padding-bottom: 5px
      font-size: 16px;
      background: none;
      border-bottom: 2px solid $divider-color;
    .ok-btn
      margin-top: 10px
      width: 100px
      height 50px
      border none
      background: $primary-color-dark
      &:hover
        background $primary-color-light






