@import "../../../palette.styl"
:host
  display flex
  flex-direction column
  -webkit-user-select: none
  background: #34302d;
  border-left 1px solid $divider-color
  -moz-user-select: none
  -ms-user-select: none
  user-select: none1
  .user-item
    display flex
    flex-direction column
    justify-content start
    padding 10px
    color: #fff
    border-bottom: 1px solid #fff;
    &:hover
      background #6db33f
    .row2x1
      display flex
      flex-direction row
      justify-content start
      align-items center
      .user-icon
        border-radius 50%
        min-width 48px
        width 48px
        margin-right 10px
        min-height 48px
        height 48px
      .user-text
        text-transform: capitalize
        font-weight: bold
        overflow hidden
        white-space nowrap



