@import "../palette.styl"

:host
  display flex
  height 100%
  width 100%
  flex-direction column
  header
    background: linear-gradient(180deg, $primary-color-dark, $primary-color);
    z-index 10
    height 50px
    flex-grow 0
    display: flex
    align-items: center;
    justify-content: flex-end;
    .logout
      border-radius 50%
      background $accent-color
      padding 5px
      box-sizing content-box
      margin-right 10px
      user-select none
      &:hover
        background $primary-color-dark
      border none
  .content
    flex-grow: 1
    background $primary-color-light
    display flex
    height 100%
    width 100%
    flex-direction column




