$primary-color-dark = #1976D2
$primary-color = #2196F3
$primary-color-light = #FAFAFA
$primary-color-text = #FFFFFF
$accent-color = #03A9F4
$primary-text-color = #212121
$secondary-text-color = #757575
$divider-color = #BDBDBD
$err-text-color = #ff1d2b
