:host

   z-index  100
  .overlay
    position: absolute
    width: 100%
    height: 100%
    left 0
    top 0
    background #00000099
    .container
      display flex
      position absolute
      left 50%
      top 50%
      transform translate(-50%,-50%)
      width 100px
      height 100px
      .progress
        user-select none
        padding 5px
