@import "../../../palette.styl"
:host
  display flex
  flex-direction column
  .message-box
    display: flex
    flex-grow 0
    flex-wrap wrap
    flex-direction row
    .message-date
      font-size 10px
    .sender-name, .message-date, .content
      color: #c8c8ff;
      font-size: 16px;
    .sender-name
      font-weight: bold;
      &.private-msg
        color #934cff



