@import "../../../palette.styl"
:host
  display flex
  flex-wrap nowrap
  align-items start
  align-content start
  overflow-y auto
  background: linear-gradient(90deg,$primary-color-light,$primary-color-light);
  flex-direction column
  app-message-view
    &.own-message
      align-self flex-start
    &.foreign-message
      align-self flex-end



